window#waybar {
    background-color: #000000;
    color: #ffffff;
  }

  #pulseaudio {
    padding-left: 8px;
    padding-right: 8px;
  }

  #disk {
    padding-left: 8px;
    padding-right: 8px;
  }

  #cpu {
    padding-left: 8px;
    padding-right: 8px;
  }

  #clock {
    padding-left: 8px;
    padding-right: 8px;
  }

  #temperature {
    padding-left: 8px;
    padding-right: 8px;
  }

  #memory {
    padding-left: 8px;
    padding-right: 8px;
  }

  #window {
    margin: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(0,0,0,0.3);
    font-size:14px;
    font-weight: bold;
  }