window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.module {
  background-color: #000000;
  padding: 2px 2px;
  margin: 4px 6px;
  border-radius: 8px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}

#clock {
  background-color: #000000;
  padding-left: 8px;
  padding-right: 8px;
}

#window {
  margin: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0,0,0,0.3);
  font-size:14px;
  font-weight: bold;
}

#workspaces button {
  color: #ffffff;
}
